.biography {
    padding-right: 20px !important;

    h3 {
        margin-top: 0.75em;
        font-family: var(--serif);
        font-weight: 600;
        color: var(--primary);
        line-height: 1;
        border-bottom: 1px solid var(--primary);
    }
    input {
        font-family: var(--body-serif);
        font-weight: bold;
        width: calc(100% - 6px);
        border-bottom: 1px solid #d3ccbc;
        text-transform: capitalize;
        &::placeholder {
            filter: opacity(0.5);
            color: var(--body);
        }
        &:focus {
            border-bottom: 1px solid #644f33;
            &::placeholder {
                color: transparent;
            }
        }
        &[type="number"] {
          padding-bottom: 0;
          padding-left: 4px;
        }
    }

    hr {
        margin: 10px 6px 10px 0;
      }

    .bio {
        h3 {
            grid-area: mod;
            border: none;
            @include p-reset;
            background-color: rgba($body-color, 0.1);
            height: 26px;
            padding: 8px 4px 6px;
            color: var(--body);
            font-family: var(--body-serif);
            font-size: 14px;
            font-weight: 700;
            width: calc(100% - 6px);
            i {
              position: relative;
              right: -2px;
              top: -2px;
              float: right;
            }

            span.value {
              display: inline-block;
              max-width: 87%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
        }
    }

    .biography-content {
        margin-left: 8px;
        padding: 4px;

        /* Typography */
        h1, h2 {
            font-family: var(--serif);
            line-height: 1.1;
        }
        h1 {
            text-align: center;
            font-size: 2.5em;
            margin-bottom: 30px;
        }
        h2 {
            color: #02256e;
            font-size: 2.25em;
        }
        h3 {
            font-size: 2em;
            border-bottom: 0px;
        }
        h4 {
            color: #000000;
            border-bottom: 1px solid #000000;
            margin-bottom: 0px;
            text-transform: uppercase;
        }
        h5 {
            text-transform: uppercase;
        }
        h6 {
            background-color: #002664;
            color: #ede3c8;
            border-bottom: 1px solid #002664;
            margin-bottom: 5px;
            padding-left: 8px;
            padding-top: 5px;
            padding-bottom: 3px;
            font-size: 1.25em;
            text-transform: uppercase;
            border-radius: 12px 12px 0px 0px;
        }

        p, p + p, ul, ol {
            font-family: var(--body-serif);
            text-align: justify;
            line-height: 1.4;
        }
        .editor {
            min-height: 200px;
            height: 100%;
            width: 100%;

            .editor-edit {
                background: var(--primary);
                color: white;
            }

            .tox {
                .tox-editor-container {
                    .tox-editor-header {
                        .tox-toolbar-overlord {
                            background-color: var(--secondary);
                            .tox-toolbar {
                                &__primary {
                                    background-color: var(--alt);
                                    box-shadow: inset 0 0 0 1px rgba(white, 0.3);
                                }
                            }
                        }
                    }
                }

                .tox-tbtn {
                    color: white;
                    border-radius: 1px;
                    &__select-chevron {
                        svg {
                            fill: rgba(black, 0.5);
                        }
                    }

                    svg {
                        fill: rgba(black, 0.5);
                    }

                    &:hover {
                        background: var(--secondary);

                        svg {
                            fill: white;
                        }
                    }
                }
            }

            .editor-content {
                min-height: 200px;
                height: 100%;
                width: 100%;
                overflow-y: inherit;
            }
        }
    }

    .biography-details {
        display:block;

        .bio {
            margin-bottom: 8px;

            span {
              width: 100%;
            }
        }
    }

    .biography-personality {
        display: flex;
        flex-wrap: wrap;

        .h3 {
            display: block;
        }

        .bio {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex: 50%;
            margin-bottom: 8px;

            span {
              width: 100%;
            }
        }
    }

    .biography-campaign-notes {
        display:block;

        .bio {
            margin-bottom: 8px;

            span {
              width: 100%;
            }
        }
    }
}
